*{
	margin: auto;
	padding: 0px;
	box-sizing: border-box;
}




.reg-box{
  width: 700px;
  padding: 40px;
 background: #fff;
 
  position: absolute;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  text-decoration-color: red;
}
